/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Regular CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
}

p,
a,
span,
label,
input,
textarea,
button,
strong,
em,
li,
th,
td {
  font-family: "Roboto Mono", monospace;
}

.navbar {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #000;
}