/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Regular CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
}

p,
a,
span,
small,
label,
input,
textarea,
button,
strong,
em,
li,
th,
td {
  font-family: "Roboto Mono", monospace;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #000;
}

.sidebar {
  position: fixed;
  top: 59.2px;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #ccc;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 5px;
}

.menu a {
  color: #000;
  text-decoration: none;
  padding: 10px 0;
  border: 1px solid #ccc;
  width: 100%;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  font-weight: 600;
  background-color: #eee;
}

.site-info {
  padding: 10px;
}

.site-info p {
  margin-bottom: 10px;
}

.content {
  position: fixed;
  top: 59.2px;
  bottom: 0;
  left: 250px;
  padding: 50px;
  overflow-y: auto;
}

.container h1 {
  margin-bottom: 20px;
}

.container p {
  text-align: justify;
  margin-bottom: 30px;
}

.container a {
  color: #000;
  text-decoration: none;
  background-color: buttonface;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.container a:hover,
.container a:focus,
.container a:active {
  background-color: #ccc;
}

.container .copyright {
  margin-top: 30px;
}

.blog {
  border: 1px solid #ccc;
  padding: 30px;
  margin: 20px 0;
}

.blog h1,
.blog p {
  margin-bottom: 10px;
}

.blog a {
  display: inline-block;
  margin-top: 10px;
}

.post {
  display: inline-block;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 30px;
}

.post h2 {
  margin-bottom: 20px;
}
